.Rproj.user
.Rhistory
.RData
.Ruserdata
*.csv
*.pdf
*.xlsx
*.jpg
*.for
*.rds
*.zip
*.txt
*.gz
*.Rda
*.bz2
coursera Data Science Specialization/8-Practical Machine Learning/data/Rdata.rdx
coursera Data Science Specialization/8-Practical Machine Learning/data/Rdata.rdb
coursera Data Science Specialization/9-Developing Data Products/project/uplaodproject.R
